<!DOCTYPE html>
	<html>
		<h1> Team Name: <%= params['team']['name'] %> </h1>
		<h1> Team Motto: <%= params['team']['motto'] %> </h1>
		<h2> Hero Name: <%= params['team']['hero'][0]['name']%> </h2>
		<h2> Hero Power: <%= params['team']['hero'][0]['power']%> </h2>
		<h2> Hero Biography: <%= params['team']['hero'][0]['biography']%> </h2>
		<h2> Hero Name: <%= params['team']['hero'][1]['name']%> </h2>
		<h2> Hero Power: <%= params['team']['hero'][1]['power']%> </h2>
		<h2> Hero Biography: <%= params['team']['hero'][1]['biography']%> </h2>
		<h2> Hero Name: <%= params['team']['hero'][2]['name']%> </h2>
		<h2> Hero Power: <%= params['team']['hero'][2]['power']%> </h2>
		<h2> Hero Biography: <%= params['team']['hero'][2]['biography']%> </h2>
	</html>	